/* You can add global styles to this file, and also import other style files */
@import "~normalize-scss/sass/normalize";
@import "~bootstrap/scss/bootstrap";

html, body {
  height: 100%;
}

body {
  background-color: #BDBDBD;
  color: #FFF;
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}
